@model MVC_EntityFramework.Models.Frutta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Frutta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produttivita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produttivita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pianta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pianta.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PiantaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
