@model IEnumerable<MVC_EntityFramework.Models.Frutta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produttivita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pianta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produttivita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pianta.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PiantaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PiantaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PiantaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
